.offer {
  background-color: #ffffff;
  position: relative;
}

.offer__image {
  display: block;
  position: relative;
  top: 0;
  width: 555px;
}

.offer_1 .offer__image {
  content: url(../../../assets/offers/offer_1.jpg);
}

.offer_2 .offer__image {
  content: url(../../../assets/offers/offer_2.jpg);
}

.offer_3 .offer__image {
  content: url(../../../assets/offers/offer_3.jpg);
}

.offer_4 .offer__image {
  content: url(../../../assets/offers/offer_4.jpg);
}

.offer_5 .offer__image {
  content: url(../../../assets/offers/offer_5.jpg);
}

.offer__title {
  padding-bottom: 8px;
}

.offer__caption {
  padding-top: 20px;
  padding-left: 35px;
  margin-bottom: 6px;
}

.offer__route {
  padding-top: 10px;
  padding-bottom: 7px;

  line-height: 24px;
}

.offer__text_strong {
  font-weight: bold;
}

.offer__price {
  position: relative;
  letter-spacing: 2px;

  color: #0d3351;

  font-family: "Roboto Slab", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
  padding-left: 35px;
  padding-bottom: 34px;
  bottom: 0px;
}

.offer__price_cut {
  padding-left: 30px;

  text-decoration: line-through;
  letter-spacing: 1px;

  color: #7a8f9f;

  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  line-height: 48px;
}

@media screen and (max-width: 1300px) {
  .offer__price_cut {
    padding-left: 0;
  }
}

.offer__tag {
  position: absolute;
  top: -7px;
  left: calc(100% - 89px - 46px);

  display: flex;

  width: 89px;
  height: 101px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  line-height: 18px;

  align-items: center;
  justify-content: center;
}

.tag_hit {
  background: url(../../../assets/offers/tag_hit.png);
}

.tag_special,
.tag_discount {
  background: url(../../../assets/offers/tag_discount.png);
}

@media screen and (min-width: 1300px) {
  .offer_1 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1 / 3;
    -ms-grid-row-span: 2;
  }

  .offer_2 {
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .offer_3 {
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .offer_2,
  .offer_3,
  .offer_5 {
    -ms-grid-column: 2;
    grid-column: 2;
  }

  .offer_4 {
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3 / 5;
    -ms-grid-row-span: 2;
  }

  .offer_5 {
    -ms-grid-row: 3;
    grid-row: 3 / 5;
    -ms-grid-row-span: 2;
  }

  .offer__price {
    padding-right: 35px;
  }
}

@media screen and (max-width: 1300px) {
  .offer_1 .offer__image {
    /* height: 272px; */

    content: url(../../../assets/offers/offer_1-tablet.jpg);
  }

  .offer_2 .offer__image {
    content: url(../../../assets/offers/offer_2-tablet.jpg);
  }

  .offer_3 .offer__image {
    content: url(../../../assets/offers/offer_3-tablet.jpg);
  }

  .offer_4 .offer__image {
    content: url(../../../assets/offers/offer_4-tablet.jpg);
  }

  .offer:nth-child(2n) {
    grid-column: 2;
  }

  .offer_5 {
    display: none;
  }
  .offer__tag {
    top: -7px;
    left: calc(100% - 89px - 32px);
  }

  .offer__image {
    width: 345px;
  }
}

@media screen and (max-width: 740px) {
  .offer_1 .offer__image {
    content: url(../../../assets/offers/offer_1-mobile.jpg);
  }

  .offer_2 .offer__image {
    content: url(../../../assets/offers/offer_2-mobile.jpg);
  }

  .offer_3 .offer__image {
    content: url(../../../assets/offers/offer_3-mobile.jpg);
  }

  .offer_4 .offer__image {
    content: url(../../../assets/offers/offer_4-mobile.jpg);
  }

  .offer_5 {
    display: none;
  }

  .offer,
  .offer:nth-child(2n) {
    grid-column: 1;
  }

  .offer__caption,
  .offer__price {
    padding-left: 22px;
  }

  .offer__price {
    letter-spacing: 1px;
  }

  .offer__tag {
    top: -7px;
    left: calc(100% - 89px - 23px);
  }

  .offer__image {
    width: 290px;
  }
  .offer__title {
    pointer-events: none;
  }
}
