.drop-menu {
  float: left;
  position: relative;
  width: 50px;
}

.drop-menu__icon {
  display: block;

  width: 16px;
  height: 22px;

  background: center no-repeat url(../../../assets/menu.png);
  margin-bottom: 11px;
}

.drop-menu__button {
  border: none;
  background: none;
}

.drop-menu__content-container {
  min-width: 420px;
  max-width: 100%;
  min-height: 413px;
  background-color: #0d3351;
  display: none;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 740px) {
  .drop-menu {
    width: 100%;
  }
  .drop-menu__content-container {
    min-width: 220px;
  }
}

.drop-menu:hover .drop-menu__content-container {
  display: block;
}

.drop-menu__list {
  padding-top: 51px;
  padding-left: 44px;
  padding-bottom: 76px;
  padding-right: 20px;
}

.drop-menu__list-item {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 48px;
  font-family: "Roboto Slab", sans-serif;
}

.drop-menu__link {
  color: #ffffff;
}
