.catalogue-caption {
  margin-bottom: 40px;
}

.catalogue-caption__header {
  text-align: center;
}

.catalogue-caption__sort-info {
  text-align: center;
}

.catalogue-caption__sort-field {
  font-style: italic;
}

.catalogue {
  display: grid;
  display: -ms-grid;

  width: 100%;
  margin-bottom: 25px;

  column-gap: 30px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  row-gap: 20px;
}
