@import url(secondary-navigation/secondary-navigation.css);
@import url(social-links/social-links.css);
@import url(copyright-info/copyright-info.css);

.footer
{
    background-color: #fff;
}

.footer__inner-container
{ display: flex;

    padding-top: 29px;  padding-bottom: 41px; 
}
