.banner {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 208px;
}

.banner__text {
  font-size: 100px;
  letter-spacing: -2px;
  color: #0d3351;
  text-align: center;
  line-height: 128px;

  padding-bottom: 50px;

  text-transform: uppercase;
}

.banner__text_first-line {
  padding-bottom: 0px;
  line-height: 1em;
  font-size: 36px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: none;
}

.banner__line {
  display: block;
  position: absolute;
  top: 469px;
  background: center no-repeat url(../../../assets/background/header-line.png);
  height: 300px;
  width: 62px;
}
